.topbar {
    left: 0px;
}
.page-wrapper {
    margin-left: 0px;
}
.page-footer {
    left: 0px;
}
.table-responsive::-webkit-scrollbar,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.table-responsive::-webkit-scrollbar-thumb,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid rgba(255, 255, 255, .15);
}
.table-responsive::-webkit-scrollbar-track,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #151313;
    box-shadow: inset 0px 0px 0px 0px #f2e7fe;
}
.table-responsive::-webkit-scrollbar-track,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}
.table-responsive {
    padding-bottom: 5px;
}
.lh-15 {line-height: 15px;}
.lh-20 {line-height: 20px;}
.text-underline {text-decoration: underline;}
.pos-absolute {position: absolute;}
.fs-14 {font-size: 14px;}
.fs-16 {font-size: 16px;}
.fs-22 {font-size: 22px;}
.fs-28-imp {font-size: 28px !important;}
.fs-35 {font-size: 35px;}
.w-36 {width: 36px;}
.h-200 {height: 200px;}
.link-disabled {cursor: default;}
.hidden-x {overflow-x: hidden;}
.drag-selector {
    border: 1px solid #1d75fe;
    background: #1d73fe38;
    position: absolute;
    border-radius: 0.2em;
}
#content_result + .process {
    display: none;
}
#content_result.processing + .process {
    display: flex;
}
.modal-title span,
.modal-title small {
    display: block;
    font-size: 65%;
}
.modal-body canvas {
	max-width: 100%;
}
.spinner-w10 {
    width: 10rem;
    height: 10rem;
}
.table-responsive > .dataTables_wrapper .dataTables_length,
.table-responsive > .dataTables_wrapper .dataTables_filter,
.table-responsive > .dataTables_wrapper .dt-buttons.btn-group {
    margin-bottom: .5rem;
    width: 100%;
}
.pace.pace-active {
    background-color: rgba(29, 33, 37, 0.3);
}
body .page-content > #function_debug {
	position: relative;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 0rem;
}
body > #function_debug,
body header > #function_debug {
	position: relative;
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 0px;
    width: calc(100% - 250px);
    height: auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
}
body.authentications-authentication > #function_debug {
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 120px;
    width: calc(100% - 300px);
}
body .page-content > #function_debug > .row,
body > #function_debug > .row,
body header > #function_debug > .row {
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0 0 0 / 20%);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 10px;
}
body .page-content > #function_debug > .row > .col-md-12,
body > #function_debug > .row > .col-md-12,
body header > #function_debug > .row > .col-md-12 {
	flex: 1 1 auto;
    padding: 1rem 1rem;
}
body .page-content > #function_debug .degug-backtrace > ul,
body > #function_debug .degug-backtrace > ul,
body header > #function_debug .degug-backtrace > ul {
	display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0;
}
body .page-content > #function_debug .degug-backtrace > ul > li,
body > #function_debug .degug-backtrace > ul > li,
body header > #function_debug .degug-backtrace > ul > li {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: rgb(255 255 255 / 12%);
    border: 1px solid rgb(255 255 255 / 12%);
    border-width: 0 0 1px;
}
body .page-content > #function_debug .degug-backtrace > ul > li:first-child,
body > #function_debug .degug-backtrace > ul > li:first-child,
body header > #function_debug .degug-backtrace > ul > li:first-child {
	border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
body .page-content > #function_debug .degug-backtrace > ul > li:last-child,
body > #function_debug .degug-backtrace > ul > li:last-child,
body header > #function_debug .degug-backtrace > ul > li:last-child {
	border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
body .page-content > #function_debug strong,
body > #function_debug strong,
body header > #function_debug strong {
    font-weight: 400;
}
body .page-content > #function_debug .debug-close,
body > #function_debug .debug-close,
body header > #function_debug .debug-close {
    display: none;
}
body .page-content > #function_debug .degug-path + p,
body .page-content > #function_debug .degug-path,
body > #function_debug .degug-path + p,
body > #function_debug .degug-path,
body header > #function_debug .degug-path + p,
body header > #function_debug .degug-path {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: .5rem 1rem;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .3rem;
    background-color: rgb(255 255 255 / 15%);
    border-color: rgb(255 255 255 / 35%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body .page-content > #function_debug .degug-path:hover,
body > #function_debug .degug-path:hover,
body header > #function_debug .degug-path:hover {
    color: #fff;
    background-color: rgb(255 255 255 / 20%);
    border-color: rgb(255 255 255 / 40%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body .page-content > #function_debug .degug-path pre,
body > #function_debug .degug-path pre,
body header > #function_debug .degug-path pre {
    color: #fff;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
@media screen and (max-width: 1024px) {
	body .page-content > #function_debug,
	body > #function_debug,
	body header > #function_debug {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		width: 100%;
	}
	body.authentications-authentication > #function_debug {
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 170px;
		width: 100%;
	}
}
table tr.task th,
table tr.task td {
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dt-buttons.btn-group {
	width: 100%;
    margin-bottom: .5rem;
}
table .form-check-label .form-check-input {
	margin-top: 0px;
}
form.dropzone {
    -webkit-appearance: button;
    display: block;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 2px dashed rgb(255 255 255 / 0.36);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(255 255 255 / 0.12);
    background-image: url(/js/plugins/dropzone/dropzone_upload.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.85;
    cursor: pointer;
    outline: none;
}
form.dropzone > input,
form.dropzone > button {
    text-align: center;
    margin: 2em 0;
    display: block;
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.modal.show {
    backdrop-filter: blur(10px);
}
.user-box [type=button], .user-box [type=reset], .user-box [type=submit], .user-box button {
    display: inline;
    padding: 0px;
    font-weight: 400;
    color: rgb(255 255 255 / 85%);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.storage {
	position: relative;
}
.data-view .storage > p {
    padding-right: 45px;
}
.data-view .storage:after {
	position: absolute;
    right: 0px;
    top: 50%;
	transform: translateY(-50%);
    content: "\e9ac";
    font-family: boxicons !important;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
}
.data-view .storage.icon-reverse:after {
    content: "\e9b9";
}
#dataFilesTable tbody .table-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropdown-item > input {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0px;
}
.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 240px;
}
.context-menu--active {
	display: block;
}
.context-menu__link {
	display: block;
}
.btn-light.active span,.btn-light.active a,
.btn-light:active span,.btn-light:active a,
.show > .btn-light.dropdown-toggle span,.show > .btn-light.dropdown-toggle a {
    color: #000;
}
@media (max-width: 1024px) {
	.page-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 767px) {
	.table-responsive > .dataTables_wrapper > .row > [class*="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-responsive > .dataTables_wrapper .dt-buttons.btn-group {
		margin-bottom: 1.5rem;
	}
}
@media (max-width: 575px) {
	div[class*="col-sm-"] .btn {
		width: 100%;
	}
}
/* ********************************************************************************************** */
/* ******************************************** DATA ******************************************** */
/* ********************************************************************************************** */
.wp-30 {width: 30%;}
.wp-35 {width: 35%;}
.wp-40 {width: 40%;}
.wp-45 {width: 45%;}
.wp-50 {width: 50%;}
.wp-55 {width: 55%;}
.wp-60 {width: 60%;}
.wp-65 {width: 65%;}
.wp-70 {width: 70%;}
.wp-75 {width: 75%;}
.wp-80 {width: 80%;}
.wp-85 {width: 85%;}
.wp-90 {width: 90%;}
.wp-95 {width: 95%;}
.wp-100 {width: 100%;}
.btn[class*="tree-before-"] {
	position: relative;
}
.btn[class*="tree-before-"]:not(.tree-before-0):before {
	content: '';
	display: block;
    height: 100%;
    top: -48%;
    position: absolute;
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}
#file_zone .card-title,
#file_zone .btn-group,
#ajax_upload_result *,
#data_folders-list *,
#data_files-list * {
	user-select: none;
}
.dropzone {
    min-height: 210px !important;
	overflow: hidden;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 10px;
}
.dropzone .dz-preview .dz-remove {
    max-width: 120px;
}
.tree-before-5:before,
.tree-before-10:before,
.tree-before-15:before,
.tree-before-20:before,
.tree-before-25:before,
.tree-before-30:before,
.tree-before-35:before,
.tree-before-40:before,
.tree-before-45:before,
.tree-before-50:before,
.tree-before-55:before {
    width: 3%;
    left: -4%;
}
.tree-before-0 + .tree-before-5:before,
.tree-before-5 + .tree-before-10:before,
.tree-before-10 + .tree-before-15:before,
.tree-before-15 + .tree-before-20:before,
.tree-before-20 + .tree-before-25:before,
.tree-before-25 + .tree-before-30:before,
.tree-before-30 + .tree-before-35:before,
.tree-before-35 + .tree-before-40:before,
.tree-before-40 + .tree-before-45:before,
.tree-before-45 + .tree-before-50:before,
.tree-before-50 + .tree-before-55:before {
    height: 55% !important;
    top: -5% !important;
}
.tree-before-0:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
}
.tree-before-10 + .tree-before-5:after,
.tree-before-15 + .tree-before-10:after,
.tree-before-20 + .tree-before-15:after,
.tree-before-25 + .tree-before-20:after,
.tree-before-30 + .tree-before-25:after,
.tree-before-35 + .tree-before-30:after,
.tree-before-40 + .tree-before-35:after,
.tree-before-45 + .tree-before-40:after,
.tree-before-50 + .tree-before-45:after,
.tree-before-55 + .tree-before-50:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
    top: -178%;
    height: 125%;
    border-left: 1px dashed #fff;
}
.tree-before-5:after, .tree-before-10:after, .tree-before-15:after, .tree-before-20:after, .tree-before-25:after, .tree-before-30:after, .tree-before-35:after, .tree-before-40:after, .tree-before-45:after, .tree-before-50:after, .tree-before-55:after {
	content: '';
    display: block;
    position: absolute;
    width: 1%;
    left: -4%;
    border-left: 1px dashed #fff;
}
.tree-before-15 + .tree-before-5:after,
.tree-before-20 + .tree-before-10:after,
.tree-before-25 + .tree-before-15:after,
.tree-before-30 + .tree-before-20:after,
.tree-before-35 + .tree-before-25:after,
.tree-before-40 + .tree-before-30:after,
.tree-before-45 + .tree-before-35:after,
.tree-before-50 + .tree-before-40:after,
.tree-before-55 + .tree-before-45:after {
    top: -318%;
    height: 265%;
}
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10:after {
    top: -318%;
    height: 265%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15:after {
    top: -438%;
    height: 385%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after {
    top: -568%;
    height: 515%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after {
    top: -698%;
    height: 645%;
}
.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 +.tree-before-10:after {
    top: -568%;
    height: 515%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -828%;
    height: 775%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after {
    top: -948%;
    height: 895%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -1078%;
    height: 1025%;
}
.modal-iframe {
	width: 100%;
    height: calc(100vh - 250px);
}
.modal-img {
	max-width: 100%;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-audio {
	max-width: 100%;
	width: 100%;
}
.modal-video {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.table-responsive .modal-body {
    white-space: initial;
}	
.task .drop-files {
	position: absolute;
	inset: 0px;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.task .drag-over.drop-files,
.task.drag-over .drop-files {
	z-index: 9999;
}
.task.drag-over .droptarget {
    box-shadow: 0 0 0.8rem rgb(23 160 14 / 50%) !important;
}
.task.file-dragged {
    opacity: .25;
}
.task a.folder-over-dragged {
	position: relative;
}
.task a.folder-over-dragged:after {
    content: '+';
    font-size: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--bg-success);
}
.dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
}
.dropzone .dz-preview {
    margin: 0px 10px;
}
.dropzone .dz-preview .dz-details .dz-filename {
    white-space: initial;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0.3em;
}
.dropzone .dz-preview .dz-details {
    padding: 20px 10px;
}
.dropzone .dz-preview .dz-remove {
    margin-top: 8px;
}
