:root {
	--success: #17a00e;
	--warning: #ffc107;
	--danger: #f41127;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/templates/js-info/assets/fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/templates/js-info/assets/fonts/roboto/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.topbar {
    left: 0px;
}
.page-wrapper {
    margin-left: 0px;
}
.page-footer {
    left: 0px;
}
.overflow-auto::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar,
select[multiple="multiple"]::-webkit-scrollbar,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.overflow-auto::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb,
select[multiple="multiple"]::-webkit-scrollbar-thumb,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    border: 1px solid rgba(255, 255, 255, .15);
}
.overflow-auto::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
select[multiple="multiple"]::-webkit-scrollbar-track,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: #151313;
    box-shadow: inset 0px 0px 0px 0px #f2e7fe;
}
.overflow-auto::-webkit-scrollbar-track,
.table-responsive::-webkit-scrollbar-track,
select[multiple="multiple"]::-webkit-scrollbar-track,
.modal-dialog-scrollable .modal-body::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}
select[multiple="multiple"] option:checked {
	color: #fff;
	background-color: rgb(255 255 255 / 12%);
}
.table-responsive {
    padding-bottom: 5px;
}
.shadow-success {box-shadow: 0px 0px 40px -10px var(--bs-success) inset !important;}
.shadow-warning {box-shadow: 0px 0px 40px -10px var(--bs-warning) inset !important;}
.shadow-danger {box-shadow: 0px 0px 40px -10px var(--bs-danger) inset !important;}
.mt-30 {margin-top: 30px;}
.mb-30 {margin-bottom: 30px;}
.mr-2 {margin-right: .5rem!important;}
.ml-2 {margin-left: .5rem!important;}
.p-10 {padding: 10px;}
.p-11 {padding: 11px;}
.p-12 {padding: 12px;}
.p-13 {padding: 13px;}
.p-14 {padding: 14px;}
.p-15 {padding: 15px;}
.lh-15 {line-height: 15px;}
.lh-20 {line-height: 20px;}
.lh-30 {line-height: 30px;}
.align-center {text-align: center;}
.text-underline {text-decoration: underline;}
.pos-absolute {position: absolute;}
.pos-relative {position: relative;}
.white-space-initial {white-space: initial;}
.white-space-normal {white-space: normal;}
.white-space-nowrap {white-space: nowrap;}
.fs-6 {font-size: 8px;}
.fs-7 {font-size: 8px;}
.fs-8 {font-size: 8px;}
.fs-9 {font-size: 9px;}
.fs-10 {font-size: 10px;}
.fs-11 {font-size: 11px;}
.fs-12 {font-size: 12px;}
.fs-13 {font-size: 13px;}
.fs-14 {font-size: 14px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.font-16-imp {font-size: 16px !important;}
.fs-17 {font-size: 17px;}
.fs-22 {font-size: 22px;}
.fs-28 {font-size: 28px;}
.fs-28-imp {font-size: 28px !important;}
.fs-30 {font-size: 30px;}
.fs-35 {font-size: 35px;}
.fs-200 {font-size: 200px;}
.w-30 {width: 30px;}
.w-36 {width: 36px;}
.w-42 {width: 42px;}
.w-110 {width: 110px;}
.h-30 {height: 30px;}
.h-36 {height: 36px;}
.h-42 {height: 42px;}
.h-110 {height: 110px;}
.h-200 {height: 200px;}
.h-240 {height: 240px;}
.h-300 {height: 300px;}
.h-320 {height: 320px;}
.h-330 {height: 330px;}
.h-350 {height: 350px;}
.h-375 {height: 375px;}
.h-400 {height: 400px;}
.h-600 {height: 600px;}
.radius-card {border-radius: .25rem;}
.radius-0 {border-radius: 0px;}
.radius-5 {border-radius: 5px;}
.radius-6 {border-radius: 6px;}
.radius-7 {border-radius: 7px;}
.radius-8 {border-radius: 8px;}
.radius-9 {border-radius: 9px;}
.bg-none {background-color: transparent;}
.link-disabled {cursor: default;}
.hidden-xy {overflow: hidden;}
.hidden-x {overflow-x: hidden;}
.hidden-y {overflow-y: hidden;}
.rotate-90 {transform: rotate(90deg);}
.rotate-180 {transform: rotate(180deg);}
.rotate-360 {transform: rotate(360deg);}
.border-x-0 {border-left-width: 0!important;border-right-width: 0!important;}
.border-y-0 {border-top-width: 0!important;border-bottom-width: 0!important;}

.drag-selector {
    border: 1px solid #1d75fe;
    background: #1d73fe38;
    position: absolute;
    border-radius: 0.2em;
}
#content_result + .process {
    display: none;
}
#content_result.processing + .process {
    display: flex;
}
.modal-title span,
.modal-title small {
    display: block;
    font-size: 65%;
}
.modal-body canvas {
	max-width: 100%;
}
.spinner-w10 {
    width: 10rem;
    height: 10rem;
}
.popover-header {
    background-color: #0f0f0f;
}
.popover-body a {
    color: #212529;
	text-decoration: underline;
}
.table-responsive > .dataTables_wrapper .dataTables_length,
.table-responsive > .dataTables_wrapper .dataTables_filter,
.table-responsive > .dataTables_wrapper .dt-buttons.btn-group {
    margin-bottom: .5rem;
    width: 100%;
}
.pace.pace-active {
    background-color: rgba(29, 33, 37, 0.3);
}

/* ******************************************************* */
/* ************************ DEBUG ************************ */
/* ******************************************************* */
body .page-content > #function_debug {
	position: relative;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    padding: 0rem;
}
body > #function_debug,
body header > #function_debug {
	position: relative;
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 0px;
    width: calc(100% - 250px);
    height: auto;
    padding: 1.5rem 1.5rem 0 1.5rem;
}
body.authentications-authentication > #function_debug {
    margin-left: 150px;
    margin-top: 0px;
    margin-bottom: 120px;
    width: calc(100% - 300px);
}
body .page-content > #function_debug > .row,
body > #function_debug > .row,
body header > #function_debug > .row {
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(0 0 0 / 20%);
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 10px;
}
body .page-content > #function_debug > .row > .col-md-12,
body > #function_debug > .row > .col-md-12,
body header > #function_debug > .row > .col-md-12 {
	flex: 1 1 auto;
    padding: 1rem 1rem;
}
body .page-content > #function_debug .degug-backtrace > ul,
body > #function_debug .degug-backtrace > ul,
body header > #function_debug .degug-backtrace > ul {
	display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0;
}
body .page-content > #function_debug .degug-backtrace > ul > li,
body > #function_debug .degug-backtrace > ul > li,
body header > #function_debug .degug-backtrace > ul > li {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: rgb(255 255 255 / 12%);
    border: 1px solid rgb(255 255 255 / 12%);
    border-width: 0 0 1px;
}
body .page-content > #function_debug .degug-backtrace > ul > li:first-child,
body > #function_debug .degug-backtrace > ul > li:first-child,
body header > #function_debug .degug-backtrace > ul > li:first-child {
	border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
body .page-content > #function_debug .degug-backtrace > ul > li:last-child,
body > #function_debug .degug-backtrace > ul > li:last-child,
body header > #function_debug .degug-backtrace > ul > li:last-child {
	border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
body .page-content > #function_debug strong,
body > #function_debug strong,
body header > #function_debug strong {
    font-weight: 400;
}
body .page-content > #function_debug .debug-close,
body > #function_debug .debug-close,
body header > #function_debug .debug-close {
    display: none;
}
body .page-content > #function_debug .degug-path + p,
body .page-content > #function_debug .degug-path,
body > #function_debug .degug-path + p,
body > #function_debug .degug-path,
body header > #function_debug .degug-path + p,
body header > #function_debug .degug-path {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: .5rem 1rem;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .3rem;
    background-color: rgb(255 255 255 / 15%);
    border-color: rgb(255 255 255 / 35%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body .page-content > #function_debug .degug-path:hover,
body > #function_debug .degug-path:hover,
body header > #function_debug .degug-path:hover {
    color: #fff;
    background-color: rgb(255 255 255 / 20%);
    border-color: rgb(255 255 255 / 40%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
body .page-content > #function_debug .degug-path pre,
body > #function_debug .degug-path pre,
body header > #function_debug .degug-path pre {
    color: #fff;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}
@media screen and (max-width: 1024px) {
	body .page-content > #function_debug,
	body > #function_debug,
	body header > #function_debug {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		width: 100%;
	}
	body.authentications-authentication > #function_debug {
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 170px;
		width: 100%;
	}
}

/* ******************************************************************************************************************************** */
/* ******************************************************************************************************************************** */
/* ******************************************************************************************************************************** */

/* ****************************************************** */
/* *********************** FOOTER *********************** */
/* ****************************************************** */
.wrapper.fixed-footer .page-wrapper {
    margin-bottom: 40px;
}
.wrapper.fixed-footer .page-footer {
    position: fixed;
    bottom: 0;
}

/* **************************************************** */
/* ********************** TOPBAR ********************** */
/* **************************************************** */
.alert-count.notif-counter {
	display: none;
}
.dropdown-large .notify {
    flex: 0 0 45px;
}

/* ***************************************************** */
/* ********************** SIDEBAR ********************** */
/* ***************************************************** */
.wrapper:not(.toggled) .sidebar-header img.logo-icon.logo-toggled {
	display: none;
}
.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text.logo-toggled,
.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text.logo-toggled img {
	max-width: 40px;
    margin-left: 0px;
}
.sidebar-wrapper {
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@media screen and (min-width: 1025px) {
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text {
		display: none;
	}
	.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .logo-text.logo-toggled {
		display: inherit;
	}
	.wrapper.toggled.sidebar-hovered .sidebar-wrapper .sidebar-header .logo-text.logo-toggled {
		display: none;
	}
	.wrapper.toggled.sidebar-hovered .sidebar-wrapper .sidebar-header .logo-text:not(.logo-toggled) {
		display: inherit;
	}
}
@media screen and (max-width: 1024px) {
	.wrapper .sidebar-header img.logo-icon.logo-toggled {
		display: none !important;
	}
}
/* ******************************************************** */
/* ********************** DATATABLES ********************** */
/* ******************************************************** */
table tr.task th,
table tr.task td {
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dt-buttons.btn-group {
	width: 100%;
    margin-bottom: .5rem;
}
table .child ul {
	list-style: none;
    padding-left: 5px;
}
table .child ul li {
    display: flex;
    justify-content: space-between;
}
table .child ul li + li {
    margin-top: 5px;
}
table .child ul li:last-child {
    display: list-item;
}
table .child ul .dtr-title {
    font-weight: 600;
}
table .child ul .dtr-data {
    min-width: 120px;
}
table .form-check-label .form-check-input {
	margin-top: 0px;
}
/* *************************************************** */
/* ********************** FORMS ********************** */
/* *************************************************** */
input[type="color"] {height: auto;}
#show_hide_password > .form-label,
#show_hide_confirmed_password > .form-label {
	width: 100%;
}
.form-select.bx,
.form-select.bx option {
	font-size: 16px;
}
select.form-select[multiple="multiple"] {
    background-color: #171717;
}
.input-group > label + .form-control.radius-start:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: rgb(255 255 255 / 15%);
    background-image: none;
}
.was-validated .form-control:not([value=""]):required:valid {
    border-color: #17a00e;
}
.was-validated .form-control:is([value=""]):required:invalid {
    border-color: #f41127;
}
form.dropzone {
    -webkit-appearance: button;
    display: block;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border: 2px dashed rgb(255 255 255 / 0.36);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(255 255 255 / 0.12);
    background-image: url(/js/plugins/dropzone/dropzone_upload.png);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.85;
    cursor: pointer;
    outline: none;
}
form.dropzone > input,
form.dropzone > button {
    text-align: center;
    margin: 2em 0;
    display: block;
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.footer-form {
    margin-top: 2rem;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}
.footer-form .return-page {
    margin-right: auto;
}
/* .chart-container { */
    /* position: relative; */
    /* height: 300px; */
/* } */
/* .bootstrap-tagsinput input { */
	/* color: #fff; */
/* } */
.modal.show {
    backdrop-filter: blur(10px);
}
#insight_profile_img.h-200 {
	max-height: 200px;
	height: auto;
}
[role="tablist"] {
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.top-user-img {
    overflow: hidden;
}
.top-user-img > .user-img {
    height: auto;
    border-radius: 0%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal_upload.show {
	display: block;
}
.modal_upload .progress {
	position: relative;
}
#img_viewer {
	display: none;
	position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99;
}
#img_viewer > .viewer {
	padding: 15px;
	position: absolute;
    background-color: rgb(0 0 0 / 50%);
    border: 0 solid transparent;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
	max-width: 750px;
	max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#img_viewer .viewer > img {
	position: relative;
	max-width: 100%;
    width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.user-box [type=button], .user-box [type=reset], .user-box [type=submit], .user-box button {
    display: inline;
    padding: 0px;
    font-weight: 400;
    color: rgb(255 255 255 / 85%);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.storage {
	position: relative;
}
.data-view .storage > p {
    padding-right: 45px;
}
.data-view .storage:after {
	position: absolute;
    right: 0px;
    top: 50%;
	transform: translateY(-50%);
    content: "\e9ac";
    font-family: boxicons !important;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: inherit;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
}
.data-view .storage.icon-reverse:after {
    content: "\e9b9";
}
#dataFilesTable tbody .table-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.img-view-table {
	width: 36px;
	height: 36px;
}
.img-view-table > div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 36px;
	background-position: center;
	
}
.theme-form-check,
.theme-form-check.radio-bg {
	float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0px;
    padding: 5px;
}
.theme-form-check > input[type="radio"] {
	margin-top: 0px;
	width: 100%;
    height: 100%;
    border-radius: 10px;
    border-width: 0px;
}
.theme-form-check > input[type="radio"]:checked {
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}
.block-img-product {
	min-height: 230px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
table .btn i.font-16 {
	font-size: 16px;
}
.dropdown-item > input {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0px;
}

/* ************************************************** */
/* ******************** DATETIME ******************** */
/* ************************************************** */
/* .dtp-buttons > button.btn { */
	/* color: rgb(255 255 255 / 65%); */
/* } */
/* .dtp table.dtp-picker-days tr>td>span.dtp-select-day { */
    /* color: #212529 !important; */
/* } */

/* ****************************************************** */
/* ******************** CONTEXT-MENU ******************** */
/* ****************************************************** */
.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 240px;
}
.context-menu--active {
	display: block;
}
.context-menu__link {
	display: block;
}
.btn-check:active+.btn-light span,.btn-check:active+.btn-light a,
.btn-check:checked+.btn-light span,.btn-check:checked+.btn-light a,
.btn-light.active span,.btn-light.active a,
.btn-light:active span,.btn-light:active a,
.show > .btn-light.dropdown-toggle span,.show > .btn-light.dropdown-toggle a {
    color: #000;
}

/* ************************************************** */
/* ******************** COLLAPSE ******************** */
/* ************************************************** */
/* .accordion-flush .accordion-item button.accordion-button[aria-expanded="false"] { */
    /* border: 0 !important; */
    /* border-left: 5px solid rgb(255 255 255 / 15%) !important; */
/* } */
/* .accordion-flush .accordion-item button.accordion-button[aria-expanded="true"] { */
    /* border-top-left-radius: .25rem; */
    /* border-bottom-left-radius: .25rem; */
    /* border: 0 !important; */
    /* border-left: 5px solid #17a00e !important; */
/* } */
/* .accordion-button:focus { */
    /* box-shadow: none; */
/* } */

@media (max-width: 1600px) {
	.email-actions {
		width: 250px;
	}
	.email-subject {
		width: calc(100% - (250px + 280px));
	}
	.email-date {
		text-align: right;
		width: 280px;
	}
}
@media (max-width: 1024px) {
	.page-content {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* @media (min-width: 992px) and (max-width: 1170px) { */
	/* .profil-view .nav-tabs .nav-item .tab-title { */
		/* display: none; */
	/* } */
	/* .profil-view .nav-tabs .nav-item { */
		/* width: 20%; */
	/* } */
	/* .profil-view .nav-tabs .nav-item > .nav-link > div { */
		/* justify-content: center; */
	/* } */
/* } */
@media (max-width: 767px) {
	.table-responsive > .dataTables_wrapper > .row > [class*="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
	.table-responsive > .dataTables_wrapper .dt-buttons.btn-group {
		margin-bottom: 1.5rem;
	}
	/* .email-actions { */
		/* width: auto; */
	/* } */
	/* .email-subject { */
		/* width: auto; */
	/* } */
	/* .email-date { */
		/* width: auto; */
	/* } */
}
@media (max-width: 750px) {
	#img_viewer > .viewer {
		left: 0px;
		right: 0px;
		transform: translate(0%,-50%);
		width: calc(100% - 30px);
	}
	#img_viewer .viewer > img {
		position: relative;
		max-width: 100%;
		width: auto;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
/* @media (max-width: 670px) { */
	/* .params-view #collapse2 .nav-tabs .nav-item .tab-title, */
	/* .params-view #collapse1 .nav-tabs .nav-item .tab-title { */
		/* display: none; */
	/* } */
	/* .params-view #collapse2 .nav-tabs .nav-item > .nav-link > div, */
	/* .params-view #collapse1 .nav-tabs .nav-item > .nav-link > div { */
		/* justify-content: center; */
	/* } */
	/* .params-view #collapse1 .nav-tabs .nav-item { */
		/* width: 25%; */
	/* } */
	/* .params-view #collapse2 .nav-tabs .nav-item { */
		/* width: 20%; */
	/* } */
/* } */
@media (max-width: 650px) {
	.footer-form.form-btn-4 {
		flex-direction: column;
	}
	.footer-form.form-btn-4 .return-page {
		margin-right: 0px;
	}
}
/* @media (max-width: 602px) { */
	/* .profil-view .nav-tabs .nav-item .tab-title { */
		/* display: none; */
	/* } */
	/* .profil-view .nav-tabs .nav-item { */
		/* width: 20%; */
	/* } */
	/* .profil-view .nav-tabs .nav-item > .nav-link > div { */
		/* justify-content: center; */
	/* } */
/* } */
@media (max-width: 575px) {
	.col-xs-reverse {
		flex-direction: column-reverse;
	}
	div[class*="col-sm-"] .btn {
		width: 100%;
	}
}
/* @media (max-width: 550px) { */
	/* .edit-customers-view .nav-tabs .nav-item .tab-title { */
		/* display: none; */
	/* } */
	/* .edit-customers-view .nav-tabs .nav-item { */
		/* width: 25%; */
	/* } */
	/* .edit-customers-view .nav-tabs .nav-item > .nav-link > div { */
		/* justify-content: center; */
	/* } */
/* } */
@media (max-width: 475px) {
	.footer-form.form-btn-4,
	.footer-form.form-btn-3 {
		flex-direction: column;
	}
	.footer-form.form-btn-4 .return-page,
	.footer-form.form-btn-3 .return-page {
		margin-right: 0px;
	}
}
/* @media (max-width: 455px) { */
	/* .log-view .nav-tabs .nav-item .tab-title, */
	/* .access-view .nav-tabs .nav-item .tab-title, */
	/* .userparam-view .nav-tabs .nav-item .tab-title { */
		/* display: none; */
	/* } */
	/* .log-view .nav-tabs .nav-item, */
	/* .access-view .nav-tabs .nav-item, */
	/* .userparam-view .nav-tabs .nav-item { */
		/* width: 33.333336%; */
	/* } */
	/* .log-view .nav-tabs .nav-item > .nav-link > div, */
	/* .access-view .nav-tabs .nav-item > .nav-link > div, */
	/* .userparam-view .nav-tabs .nav-item > .nav-link > div { */
		/* justify-content: center; */
	/* } */
/* } */
@media (max-width: 400px) {
	.footer-form {
		flex-direction: column;
	}
	.footer-form .return-page {
		margin-right: 0px;
	}
	table .child ul {
		padding-left: 0px;
	}
	table .child ul li {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	table .child ul li {
		margin-top: 10px;
	}
	table .child ul li:last-child {
		margin-top: 0px;
	}
	table .child ul .dtr-title {
		letter-spacing: 1.5px;
	}
}