.bg-theme{
	background-size:100% 100%;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	transition:background .2s;
}
body[bgtheme],body[bgtheme="bg-theme0"]{
	background-image:none;
}
/* .text-underline { */
	/* text-decoration: underline; */
/* } */
/* .fs-14 { */
	/* font-size: 14px; */
/* } */
.fs-16 {
	font-size: 16px;
}
/* .fs-18 { */
	/* font-size: 18px; */
/* } */
.fs-20 {
	font-size: 20px;
}
.fs-22 {
	font-size: 22px;
}
/* .fs-24 { */
	/* font-size: 24px; */
/* } */
/* .fs-25 { */
	/* font-size: 25px; */
/* } */
/* .fs-30 { */
	/* font-size: 30px; */
/* } */
/* .fs-35 { */
	/* font-size: 35px; */
/* } */
/* .fs-50 { */
	/* font-size: 50px; */
/* } */
/* .right-25 { */
	/* right: 25px !important; */
/* } */
/* .right-50 { */
	/* right: 50px !important; */
/* } */
/* .right-75 { */
	/* right: 75px !important; */
/* } */
.w-300 {
	max-width: 300px;
	width: 100%;
}
/* .h-300 { */
	/* height: 300px; */
/* } */
/* .h-370 { */
	/* height: 370px; */
/* } */
.bg-none {
	background-color: transparent;
}
.link-disabled {
	cursor: default;
}
.hidden-xy {
	overflow: hidden;
}
.hidden-x {
	overflow-x: hidden;
}
.hidden-y {
	overflow-y: hidden;
}
.rotate-90 {
	transform: rotate(90deg);
}
.rotate-180 {
	transform: rotate(180deg);
}
.rotate-360 {
	transform: rotate(360deg);
}
.border-x-0 {
	border-left-width: 0!important;
	border-right-width: 0!important;
}
.border-y-0 {
	border-top-width: 0!important;
	border-bottom-width: 0!important;
}
.radius-10 {
	border-radius: 10px;
}
.radius-15 {
	border-radius: 15px;
}
.spinner-w10 {
    width: 10rem;
    height: 10rem;
}
.shadow-success {
	box-shadow: 0 10px 10px rgba(20, 152, 101, 0.1);
}
.shadow-warning {
	box-shadow: 0 10px 10px rgba(221, 165, 14, 0.1);
}
.shadow-danger {
	box-shadow: 0 10px 10px rgba(235, 51, 51, 0.1);
}
.shadow-info {
	box-shadow: 0 10px 10px rgba(67, 94, 239, 0.1);
}
.shade-info {
    background-color: var(--bs-primary);
}
.shade-success {
    background-color: var(--bs-success);
}
.shade-warning {
    background-color: var(--bs-warning);
}
.shade-danger {
    background-color: var(--bs-danger);
}
.input-inline {
	display: inline-block;
	background-color: transparent;
	padding: 0px;
	border: none;
}
.input-block {
	display: block;
	width: 100%;
	text-align: left;
	background-color: transparent;
	padding: 0px;
	border: none;
}
.dropdown-toggle-nocaret:after {
	content: none;
	display: none;
}
.cursor-pointer {
	cursor: pointer;
}
.modal.show {
	backdrop-filter: blur(10px);
}
select[multiple="multiple"] option:checked {
	color: #fff;
	background-color: rgb(255 255 255 / 12%);
}
.card-header .dropdown-menu {
	width: auto;
}
.dropdown-menu:before {
	content: none;
	display: none;
}
.os-padding {
	z-index: initial;
}
.btn-check:active + .btn-light span,.btn-check:active + .btn-light a,.btn-check:checked + .btn-light span,.btn-check:checked + .btn-light a,.btn-light.active span,.btn-light.active a,.btn-light:active span,.btn-light:active a,.show > .btn-light.dropdown-toggle span,.show > .btn-light.dropdown-toggle a {
	color: #000;
}
/* *********************************************** */
/* ******************** DEBUG ******************** */
/* *********************************************** */
body > #function_debug {
	/* padding-left: 245px; */
	max-width: 1200px;
}
#function_debug .btn-close-white {
	filter: none;
	position: relative;
	top: -10px;
	right: 0px;
	left: calc(100% - 20px);
}
.list-group > .list-group-item > #function_debug {
	max-width: 60%;
}
#function_debug {
	margin-bottom: 1rem;
}
#function_debug .degug-function {
	position: relative;
	z-index: 1;
	padding: 1.5rem;
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
	border-radius: 1rem;
	background-color: #f8f9facc;
}
#function_debug .debug-close {
	color: var(--bs-dark);
}
#function_debug .degug-path {
	padding: .5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	background-color: #fff;
}
#function_debug .degug-path pre {
	margin: 0px;
}
#function_debug .degug-backtrace ul {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	border-radius: .25rem;
	margin-bottom: 0;
}
#function_debug .degug-backtrace ul li {
	position: relative;
	display: block;
	padding: .5rem 1rem;
	color: #212529;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
#function_debug .degug-backtrace ul li:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#function_debug .degug-backtrace ul li:last-child {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
/* ****************************************************** */
/* ******************** CONTEXT-MENU ******************** */
/* ****************************************************** */
body .context-menu.card {
	background-color: #ffffff;
}
.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 240px;
}
.context-menu--active {
	display: block;
}
.context-menu__link {
	display: block;
}
.context-menu .dropdown .dropdown-menu:before {
	bottom: -9px;
	top: auto;
	border-top: 9px solid #ffffff;
	border-bottom: none;
}
.context-menu .dropdown:hover ul.dropdown-menu {
	display: block;
	position: absolute;
	bottom: 18px;
	left: 10px;
	right: 10px;
	box-shadow: 0px 0px 8px #000;
}
/* *************************************** */
/* *************** SIDEBAR *************** */
/* *************************************** */
.no-sidebar > .main-container {
    padding: 0px;
}
/* .sidebar-wrapper { */
	/* overflow: hidden; */
/* } */
/* .sidebar-wrapper .sidebar-menu ul li a { */
	/* flex-direction: row; */
    /* justify-content: flex-start; */
    /* gap: 5px; */
    /* padding-bottom: 0px; */
/* } */
/* .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after,.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after { */
    /* right: 35px; */
/* } */
/* .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul li a { */
    /* padding: 7px 7px 7px 7px; */
/* } */
/* .sidebar-wrapper .sidebar-menu ul li.active .sidebar-submenu { */
	/* margin: 5px 15px 15px 15px; */
    /* padding: 5px 0px; */
	/* background-color: var(--bs-light); */
	/* border-radius: 5px; */
/* } */
/* *************************************** */
/* *************** CONTENT *************** */
/* *************************************** */
.row.row-group > div {
    border-right: 1px solid #dee2e6;
}
.row.row-group > div:last-child {
    border-right: none;
}
.dtp .dtp-picker-time > a, .dtp table.dtp-picker-days tr > td > a {
    color: rgb(0 0 0 / 65%);
}
.dtp > .dtp-content {
    background: #ffffff;
}
.drag-selector {
    border: 1px solid #1d75fe;
    background: #1d73fe38;
    position: absolute;
    border-radius: 0.2em;
}
#content_result + .process {
    display: none;
}
#content_result.processing + .process {
    display: flex;
}
.modal-body canvas {
	max-width: 100%;
}
@media(max-width: 1199px) {
	.row.row-group > div {
		border-right: 0;
		border-bottom: 1px solid #dee2e6;
	}
	.row.row-group > div:last-child {
		border-right: none;
		border-bottom: 0;
	}
}
@media(max-width: 1024px) {
	body > #function_debug {
		padding-left: 10px
	}
	#function_debug .degug-function {
		padding: 0.5rem;
	}
}