.bg-theme {
	background-size:100% 100%;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	transition:background .2s;
}
body[bgtheme],body[bgtheme="bg-theme0"] {
	background-image:none;
}
.fs-16 {
	font-size: 16px;
}
.fs-22 {
	font-size: 22px;
}
.w-300 {
	max-width: 300px;
	width: 100%;
}
.link-disabled {
	cursor: default;
}
.hidden-x {
	overflow-x: hidden;
}
.radius-10 {
	border-radius: 10px;
}
.radius-15 {
	border-radius: 15px;
}
.spinner-w10 {
    width: 10rem;
    height: 10rem;
}
.input-inline {
	display: inline-block;
	background-color: transparent;
	padding: 0px;
	border: none;
}
.dropdown-toggle-nocaret:after {
	content: none;
	display: none;
}
.modal.show {
	backdrop-filter: blur(10px);
}
.card-header .dropdown-menu {
	width: auto;
}
.dropdown-menu:before {
	content: none;
	display: none;
}
.os-padding {
	z-index: initial;
}
body > #function_debug {
	max-width: 1200px;
}
#function_debug .btn-close-white {
	filter: none;
	position: relative;
	top: -10px;
	right: 0px;
	left: calc(100% - 20px);
}
.list-group > .list-group-item > #function_debug {
	max-width: 60%;
}
#function_debug {
	margin-bottom: 1rem;
}
#function_debug .degug-function {
	position: relative;
	z-index: 1;
	padding: 1.5rem;
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
	border-radius: 1rem;
	background-color: #f8f9facc;
}
#function_debug .debug-close {
	color: var(--bs-dark);
}
#function_debug .degug-path {
	padding: .5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	background-color: #fff;
}
#function_debug .degug-path pre {
	margin: 0px;
}
#function_debug .degug-backtrace ul {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	border-radius: .25rem;
	margin-bottom: 0;
}
#function_debug .degug-backtrace ul li {
	position: relative;
	display: block;
	padding: .5rem 1rem;
	color: #212529;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
}
#function_debug .degug-backtrace ul li:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
#function_debug .degug-backtrace ul li:last-child {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}
body .context-menu.card {
	background-color: #ffffff;
}
.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 240px;
}
.context-menu--active {
	display: block;
}
.context-menu__link {
	display: block;
}
.context-menu .dropdown .dropdown-menu:before {
	bottom: -9px;
	top: auto;
	border-top: 9px solid #ffffff;
	border-bottom: none;
}
.context-menu .dropdown:hover ul.dropdown-menu {
	display: block;
	position: absolute;
	bottom: 18px;
	left: 10px;
	right: 10px;
	box-shadow: 0px 0px 8px #000;
}
.no-sidebar > .main-container {
    padding: 0px;
}
.drag-selector {
    border: 1px solid #1d75fe;
    background: #1d73fe38;
    position: absolute;
    border-radius: 0.2em;
}
#content_result + .process {
    display: none;
}
#content_result.processing + .process {
    display: flex;
}
.modal-body canvas {
	max-width: 100%;
}
@media(max-width: 1024px) {
	body > #function_debug {
		padding-left: 10px
	}
	#function_debug .degug-function {
		padding: 0.5rem;
	}
}
/* ********************************************************************************************** */
/* ******************************************** DATA ******************************************** */
/* ********************************************************************************************** */
#file_zone .dropdown-menu .dropdown-item {
    line-height: 20px;
}
.bg-light-success {
	background-color: rgba(var(--bs-success-rgb), 0.5);
}
.bg-light-primary {
	background-color: rgba(var(--bs-primary-rgb), 0.5);
}
.bg-light-info {
	background-color: rgba(var(--bs-info-rgb), 0.5);
}
.bg-light-danger {
	background-color: rgba(var(--bs-danger-rgb), 0.5);
}
.bg-light-warning {
	background-color: rgba(var(--bs-warning-rgb), 0.5);
}
.bg-extralight-success {
	background-color: rgba(var(--bs-success-rgb), 0.1) !important;
}
.bg-extralight-primary {
	background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
}
.bg-extralight-info {
	background-color: rgba(var(--bs-info-rgb), 0.1) !important;
}
.bg-extralight-danger {
	background-color: rgba(var(--bs-danger-rgb), 0.1) !important;
}
.bg-extralight-warning {
	background-color: rgba(var(--bs-warning-rgb), 0.1) !important;
}
.wp-30 {width: 30%;}
.wp-35 {width: 35%;}
.wp-40 {width: 40%;}
.wp-45 {width: 45%;}
.wp-50 {width: 50%;}
.wp-55 {width: 55%;}
.wp-60 {width: 60%;}
.wp-65 {width: 65%;}
.wp-70 {width: 70%;}
.wp-75 {width: 75%;}
.wp-80 {width: 80%;}
.wp-85 {width: 85%;}
.wp-90 {width: 90%;}
.wp-95 {width: 95%;}
.wp-100 {width: 100%;}
.btn[class*="tree-before-"] {
	position: relative;
}
.btn[class*="tree-before-"]:not(.tree-before-0):before {
	content: '';
	display: block;
    height: 100%;
    top: -48%;
    position: absolute;
    border-left: 1px dashed var(--bs-dark);
    border-bottom: 1px dashed var(--bs-dark);
}
.bi-icon-box {
    font-size: 32px;
    background: rgb(255 255 255 / 100%);
    display: flex;
    align-items: center;
    justify-content: center;
	width: 52px;
    height: 52px;
	border-radius: 15px;
}
#data_folders-list *,
#data_files-list * {
	user-select: none;
}
.dropzone {
    min-height: 210px !important;
	overflow: hidden;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 10px;
}
.dropzone .dz-preview .dz-remove {
    max-width: 120px;
}
#modal_download .process {
	display: none;
}
#modal_download .progress {
	display: none !important;
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(100% - 40px);
    transform: translateY(-50%);
    z-index: 2;
}
#modal_download .progress {
    width: 9rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#modal_download .progress .progress-bar {
    flex-direction: row;
}
#modal_download .processing.process .progress {
	display: block !important;
}
#modal_download .processing.process {
	display: flex !important;
}
.tree-before-5:before,
.tree-before-10:before,
.tree-before-15:before,
.tree-before-20:before,
.tree-before-25:before,
.tree-before-30:before,
.tree-before-35:before,
.tree-before-40:before,
.tree-before-45:before,
.tree-before-50:before,
.tree-before-55:before {
    width: 3%;
    left: -4%;
}
.tree-before-0 + .tree-before-5:before,
.tree-before-5 + .tree-before-10:before,
.tree-before-10 + .tree-before-15:before,
.tree-before-15 + .tree-before-20:before,
.tree-before-20 + .tree-before-25:before,
.tree-before-25 + .tree-before-30:before,
.tree-before-30 + .tree-before-35:before,
.tree-before-35 + .tree-before-40:before,
.tree-before-40 + .tree-before-45:before,
.tree-before-45 + .tree-before-50:before,
.tree-before-50 + .tree-before-55:before {
    height: 55% !important;
    top: -5% !important;
}
.tree-before-0:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
}
.tree-before-10 + .tree-before-5:after,
.tree-before-15 + .tree-before-10:after,
.tree-before-20 + .tree-before-15:after,
.tree-before-25 + .tree-before-20:after,
.tree-before-30 + .tree-before-25:after,
.tree-before-35 + .tree-before-30:after,
.tree-before-40 + .tree-before-35:after,
.tree-before-45 + .tree-before-40:after,
.tree-before-50 + .tree-before-45:after,
.tree-before-55 + .tree-before-50:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
    top: -178%;
    height: 125%;
    border-left: 1px dashed var(--bs-dark);
}
.tree-before-5:after, .tree-before-10:after, .tree-before-15:after, .tree-before-20:after, .tree-before-25:after, .tree-before-30:after, .tree-before-35:after, .tree-before-40:after, .tree-before-45:after, .tree-before-50:after, .tree-before-55:after {
	content: '';
    display: block;
    position: absolute;
    width: 1%;
    left: -4%;
    border-left: 1px dashed var(--bs-dark);
}
.tree-before-15 + .tree-before-5:after,
.tree-before-20 + .tree-before-10:after,
.tree-before-25 + .tree-before-15:after,
.tree-before-30 + .tree-before-20:after,
.tree-before-35 + .tree-before-25:after,
.tree-before-40 + .tree-before-30:after,
.tree-before-45 + .tree-before-35:after,
.tree-before-50 + .tree-before-40:after,
.tree-before-55 + .tree-before-45:after {
    top: -318%;
    height: 265%;
}
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10:after {
    top: -318%;
    height: 265%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15:after {
    top: -438%;
    height: 385%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after {
    top: -568%;
    height: 515%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after {
    top: -698%;
    height: 645%;
}
.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 +.tree-before-10:after {
    top: -568%;
    height: 515%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -828%;
    height: 775%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after {
    top: -948%;
    height: 895%;
}
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -1078%;
    height: 1025%;
}
.pos-absolute {
    position: absolute;
}
.modal-iframe {
	width: 100%;
    height: calc(100vh - 250px);
}
.modal-img {
	max-width: 100%;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-audio {
	max-width: 100%;
	width: 100%;
}
.modal-video {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.task .drop-files {
	position: absolute;
	inset: 0px;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.task .drag-over.drop-files,
.task.drag-over .drop-files {
	z-index: 9999;
}
.task.drag-over .droptarget {
    box-shadow: 0 0 0.8rem rgb(23 160 14 / 50%) !important;
}
.task.file-dragged {
    box-shadow: 0px 0px 5px 5px rgba(0, 10, 10, 0.1);
    background-color: var(--bs-light);
}
.task a.folder-over-dragged {
	position: relative;
}
.task a.folder-over-dragged:after {
    content: '+';
    font-size: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--bg-success);
}
