.menu-settings > button {
    /* min-height: 25px; */
    /* line-height: 40px; */
}

.wp-30 {width: 30%;}
.wp-35 {width: 35%;}
.wp-40 {width: 40%;}
.wp-45 {width: 45%;}
.wp-50 {width: 50%;}
.wp-55 {width: 55%;}
.wp-60 {width: 60%;}
.wp-65 {width: 65%;}
.wp-70 {width: 70%;}
.wp-75 {width: 75%;}
.wp-80 {width: 80%;}
.wp-85 {width: 85%;}
.wp-90 {width: 90%;}
.wp-95 {width: 95%;}
.wp-100 {width: 100%;}

.btn[class*="tree-before-"] {
	position: relative;
}
.btn[class*="tree-before-"]:not(.tree-before-0):before {
/* .btn[class*="tree-before-"]:before { */
	content: '';
	display: block;
    height: 100%;
    top: -48%;
    position: absolute;
    border-left: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}
#file_zone .tab-content *,
#data_shared_folders-list *,
#data_shared_files-list *,
#data_folders-list *,
#data_files-list * {
	user-select: none;
}
.dropzone {
    min-height: 210px !important;
	overflow: hidden;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 10px;
    /* background: #999; */
    /* background: linear-gradient(to bottom, #eee, #ddd); */
}
.dropzone .dz-preview .dz-remove {
    /* font-size: 14px; */
    /* text-align: center; */
    /* display: block; */
    /* cursor: pointer; */
    /* border: none; */
    max-width: 120px;
}
.tree-before-0:before {
	
}
.tree-before-5:before,
.tree-before-10:before,
.tree-before-15:before,
.tree-before-20:before,
.tree-before-25:before,
.tree-before-30:before,
.tree-before-35:before,
.tree-before-40:before,
.tree-before-45:before,
.tree-before-50:before,
.tree-before-55:before {
    width: 3%;
    left: -4%;
    /* border-left: 1px dashed #fff; */
}
/* .tree-before-5:before { */
    /* border-left: 0px dashed #fff; */
/* } */
.tree-before-0 + .tree-before-5:before,
.tree-before-5 + .tree-before-10:before,
.tree-before-10 + .tree-before-15:before,
.tree-before-15 + .tree-before-20:before,
.tree-before-20 + .tree-before-25:before,
.tree-before-25 + .tree-before-30:before,
.tree-before-30 + .tree-before-35:before,
.tree-before-35 + .tree-before-40:before,
.tree-before-40 + .tree-before-45:before,
.tree-before-45 + .tree-before-50:before,
.tree-before-50 + .tree-before-55:before {
    height: 55% !important;
    top: -5% !important;
}
.tree-before-0:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
}
.tree-before-10 + .tree-before-5:after,
.tree-before-15 + .tree-before-10:after,
.tree-before-20 + .tree-before-15:after,
.tree-before-25 + .tree-before-20:after,
.tree-before-30 + .tree-before-25:after,
.tree-before-35 + .tree-before-30:after,
.tree-before-40 + .tree-before-35:after,
.tree-before-45 + .tree-before-40:after,
.tree-before-50 + .tree-before-45:after,
.tree-before-55 + .tree-before-50:after {
	content: '';
    display: block;
    position: absolute;
    left: -4%;
    width: 1%;
    top: -178%;
    height: 125%;
    border-left: 1px dashed #fff;
}

/* .tree-before-0 + .tree-before-0:after { */
	/* content: ''; */
/* } */

/* .tree-before-10 + .tree-before-5:after, */
.tree-before-5:after, .tree-before-10:after, .tree-before-15:after, .tree-before-20:after, .tree-before-25:after, .tree-before-30:after, .tree-before-35:after, .tree-before-40:after, .tree-before-45:after, .tree-before-50:after, .tree-before-55:after {
	content: '';
    display: block;
    position: absolute;
    width: 1%;
    left: -4%;
    border-left: 1px dashed #fff;
}
 
.tree-before-15 + .tree-before-5:after,
.tree-before-20 + .tree-before-10:after,
.tree-before-25 + .tree-before-15:after,
.tree-before-30 + .tree-before-20:after,
.tree-before-35 + .tree-before-25:after,
.tree-before-40 + .tree-before-30:after,
.tree-before-45 + .tree-before-35:after,
.tree-before-50 + .tree-before-40:after,
.tree-before-55 + .tree-before-45:after {
    top: -318%;
    height: 265%;
}

.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10:after {
    top: -318%;
    height: 265%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15:after {
    top: -438%;
    height: 385%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after {
    top: -568%;
    height: 515%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-5:after {
    top: -698%;
    height: 645%;
}






.tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 +.tree-before-10:after,
.tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 +.tree-before-10:after {
    top: -568%;
    height: 515%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -828%;
    height: 775%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after {
    top: -948%;
    height: 895%;
}

.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-15 + .tree-before-10 + .tree-before-5:after,
.tree-before-5 + .tree-before-10 + .tree-before-15 + .tree-before-10 + .tree-before-15 + .tree-before-15 + .tree-before-15 + .tree-before-20 + .tree-before-10 + .tree-before-5:after {
    top: -1078%;
    height: 1025%;
}

.modal-iframe {
	width: 100%;
    height: calc(100vh - 250px);
}
.modal-img {
	max-width: 100%;
	height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-audio {
	max-width: 100%;
	width: 100%;
}
.modal-video {
	max-width: 100%;
	width: 100%;
	height: auto;
}
.table-responsive .modal-body {
    white-space: initial;
}	
.task .drop-files {
	position: absolute;
	inset: 0px;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.task .drag-over.drop-files,
.task.drag-over .drop-files {
	z-index: 9999;
}
.task.drag-over .droptarget {
    box-shadow: 0 0 0.8rem rgb(23 160 14 / 50%) !important;
}
.task.file-dragged {
    opacity: .25;
	/* width: 50px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}
/* .task.file-dragged { */
    
/* } */
/* .task.file-dragged .img-drag { */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
/* } */
.task a.folder-over-dragged {
	position: relative;
}
.task a.folder-over-dragged:after {
    content: '+';
    font-size: 15px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: var(--bg-success);
}
.dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
}
.dropzone .dz-preview {
    /* position: relative; */
    /* display: inline-block; */
    /* vertical-align: top; */
    margin: 0px 10px;
    /* min-height: 100px; */
}
.dropzone .dz-preview .dz-details .dz-filename {
    white-space: initial;
}
.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 0.3em;
    /* font-size: 16px; */
}
.dropzone .dz-preview .dz-details {
    /* z-index: 20; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* opacity: 0; */
    /* font-size: 13px; */
    /* min-width: 100%; */
    /* max-width: 100%; */
    padding: 20px 10px;
    /* text-align: center; */
    /* color: rgba(0,0,0,.9); */
    /* line-height: 150%; */
}
.dropzone .dz-preview .dz-remove {
    /* font-size: 14px; */
    /* text-align: center; */
    /* display: block; */
    /* cursor: pointer; */
    /* border: none; */
    margin-top: 8px;
}